uc/.cproject
uc/.project
uc/Debug/
cpld/xst/
cpld/xlnx_auto_0_xdb/
cpld/*.xml
cpld/*.err
cpld/*.xrpt
cpld/*.html
cpld/*.csv
cpld/*.xst
cpld/*.vm6
cpld/*.tspec
cpld/*.tim
cpld/*.syr
cpld/*.stx
cpld/*.rpt
cpld/*.prj
cpld/*.pnx
cpld/*.pad
cpld/*.ngr
cpld/*.ngd
cpld/*.ngc
cpld/*.nga
cpld/*.mod
cpld/*.mfd
cpld/*.lso
cpld/*.jed
cpld/*.gyd
cpld/*.data
cpld/*.cmd_log
cpld/*.bld
cpld/iseconfig/
cpld/atari_xlxe_sd_cartridge_cpld.xise
cpld/atari_xlxe_sd_cartridge_cpld.gise
cpld/_xmsgs/
uc/atari_xlxe_sd_cartridge Debug.launch
uc/atari_xlxe_sd_cartridge Release.launch
bootstrap/player.h
bootstrap/*.obx
